@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans');

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Work Sans', sans-serif;
	height: 100vh;
	margin: 0 0 0 0;
}
